@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import "tailwindcss";


*{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.spinner-font {
    font-family: "Zen Dots", sans-serif;
}

@theme{
    --color-homeBg:#FFF7C8;
    --color-bg:#FFFBDC;
    --color-accent:#C2381E;
    --color-primary:#0F1E1E;
}

@utility bg-home {
    @apply absolute inset-0 size-full bg-[url("/images/bg-home.png")] bg-no-repeat bg-center
}

::-webkit-scrollbar {
    display: none;
}