@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";


*{
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.loading-font {
    font-family: "Orbitron", sans-serif;
}

@theme{
    --color-homeBg:#FFF7C8;
    --color-bg:#FFFBDC;
    --color-accent:#C2381E;
    --color-primary:#0F1E1E;
}

::-webkit-scrollbar {
    display: none;
}